modules = ["nodejs-24", "python-3.11"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true
integrations = ["github:1.0.0", "resend:1.0.0"]

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 80

[[ports]]
localPort = 8082
externalPort = 3001

[[ports]]
localPort = 8083
externalPort = 3002

[[ports]]
localPort = 8084
externalPort = 3003

[[ports]]
localPort = 9876
externalPort = 6000

[[ports]]
localPort = 24913
externalPort = 3000

[[ports]]
localPort = 24914
externalPort = 4200

[[ports]]
localPort = 24915
externalPort = 5000

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
JWT_SECRET = "cdaf95551fc3a698e650255fff93716413c32fa15c448ac7e3107ed6ed6e2eb6cd5b4069a37ceb348c360ffa725932a9"
